/* Pantalla entera centrada */
body {
  background: url("../src/assets/img/tapete.jpg");
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 3.5rem;
}
/* Contenedor principal con temporizador, carta y botón */
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Temporizador encima */

.timerNew {
  font-size: 2rem;
}
/* Carta */
.cardContainer {
  background: white;
  width: 180px;
  height: 260px;
  border: 2px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

/* Número de la carta */
.cardNumber {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

/* Palos (esquinas) */
.corner {
  font-size: 2.3rem;
  font-weight: bold;
}

#cardCornerBottom {
  display: flex;
  justify-content: end;
}
/* Botón */
.refreshButton {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.refreshButton:hover {
  background: #0056b3;
}
