body {
  background: url("../src/assets/img/tapete.jpg");
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1 {
  text-align: center;
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
	background: rgba(255, 255, 255, 0.1);
	padding: 40px;
	border-radius: 20px;
	backdrop-filter: blur(10px);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
	max-width: 600px;
	width: 90%;

}

.timerNew {
  font-size: 2rem;
  margin-bottom: 10px;
}


.cardContainer {
  background: white;
  width: 180px;
  height: 260px;
  border: 2px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  transition: transform 0.3s ease;
 
  
}



.cardContainer:hover {
	transform: scale(1.1);
  

  
}


.cardNumber {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}


.corner {
  font-size: 2.3rem;
  font-weight: bold;
}

#cardCornerTop {
  display: flex;
  justify-content: start;
}

#cardCornerBottom {
  display: flex;
  justify-content: start;
  transform: rotate(180deg);
}


.refreshButton {
  padding: 10px 20px;
  margin-top: 20px;
  background: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.refreshButton:hover {
  background: #0056b3;
}
